.education-item{
  border-left:2px solid black;
  text-align:left;
  margin-bottom:50px;
}

.education-item p {
  margin: 10px 0 0 20px;
  color: #A1A1A1;
  font-size: 1em;
}

.education-item p:nth-child(2){
  color: #646566;
  font-size:1.2em;
}

.education-item h3{
  margin:10px 0 0 20px;
  font-size:1.4em;
}

.education-item{
  overflow:hidden
}

.education-item i{
  margin-right:10px;
}