.navbar ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

.button{
  cursor: pointer;
  box-sizing:border-box;
  padding:11px;
  width:15%;
  height:40px;
  position:absolute;
  left:1%;
  top:-100px;
  color: #ffffff;
  font-size: 12px;
  background: #3F667C;
  text-align:left;
}

.button:hover {
  background: #000305;
}

.button-about-me{
  transition:all 0.3s;
  top:100px;
}

.button-projects{
  transition:all 0.3s;
  top:150px;
}

.button-skills{
  transition:all 0.3s;
  top:200px;
}

.button-education{
  transition:all 0.3s;
  top:250px;
}






