.projects-photos{
  margin:20px auto;
  text-align:center;
}
.projects-1 a, .projects-2 a{
  color:#3F667C;
}
.github-link{
  margin:0 auto;
  text-align:center;
}
h3{
  margin-left:20px;
}
