.container {
    margin-top: 60px;
}

.office__container {
    padding: 20px;
    height: calc(100vh - 120px);
    position: relative;
    background-image: url('/assets/desk.jpg');
    background-size: cover;
}

.office__motto {
    width: 600px;
    margin: 80px auto;
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
}

.office__card {
    position: absolute;
    top: 60vh;
    left: 50%;
    width: 400px;
    background-color: var(--secondary-backgorund-color);
    color: white;
    padding: 60px 80px;
}

.office__card h2 {
    font-weight: normal;
    font-size: 44px;
    text-align: center;
    font-family: var(--serif-font);
}

.office__card p {
    margin-top: 20px;
    font-size: 12px;
    font-family: var(--paragraph-font);
}

.office__card button {
    margin-top: 30px;
}

.notary__container {
    margin-top: 100px;
    display: flex;
    height: calc(100vh - 120px);
}

.notary__description {
    padding: 100px;
    flex: 1;
    background-color: var(--secondary-backgorund-color);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.notary__image {
    flex: 1;
    background-image: url('/assets/40173128.jpg');
    background-size: cover;
}

.notary__description h1 {
    font-family: var(--serif-font);
    font-size: 34px;
    font-style: italic;
}

.notary__description h2 {
    margin-bottom: 20px;
    font-family: var(--sans-serif-font);
}

.notary__description p {
    font-family: var(--paragraph-font);
    margin-top: 30px;
    font-size: 14px;
    text-align: justify;
}

.team__container {
    margin-top: 80px;
}

.team__container h1 {
    font-family: var(--serif-font);
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
}

.team__card--container {
    padding: 20px;
    flex: 1;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30% 30% 30%;
}

.team__member--photo1, .team__member--photo2, .team__member--photo3 {
    background-size: 100% 100%;
    width: 400px;
    height: 500px;
    position: relative;
    transition: background-size 0.5s ease;
    background-position: center center;
    cursor: pointer;
}

.team__member--photo1 {
    background-image: url("/assets/notar2.jpg");
}

.team__member--photo2 {
    background-image: url("/assets/notar3.jpg");
}

.team__member--photo3 {
    background-image: url("/assets/lawyer1.jpg");
}

.team__member--photo1:hover, .team__member--photo2:hover, .team__member--photo3:hover {
    background-size: 110% 110%;
}

.team__card {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.team__card h3 {
    margin-top: 30px;
    font-size: 24px;
    font-family: var(--serif-font);
    font-style: italic;
    color: var(--secondary-color)
}

.team__card p {
    font-size: 12px;
    font-family: var(--paragraph-font);
}

.activity__article {
    margin-top: 80px;
    height: calc(100vh - 120px);
}

.activity__article h2 {
    font-size: 44px;
    color: var(--primary-color);
    font-family: var(--serif-font);
    text-align: center;
}

.activity--card__container {
    padding: 20px;
    flex: 1;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px 300px 300px;
}

.activity__card {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--gray);
    padding: 40px;
}

.activity__card span {
    border-bottom: 1px solid black;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: var(--cursive-font);
}

.activity__card h3 {
    font-size: 24px;
    font-family: var(--serif-font);
    font-style: italic;
    margin-bottom: 10px;
}

.activity__card p {
    font-size: 12px;
    font-family: var(--paragraph-font);
    text-align: center;
}

.activity__card a {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: 14px;
    border-bottom: 1px solid var(--secondary-color);
    margin: 20px 0;
    cursor: pointer;
}

.map__container {
    margin-top: 350px;
}

.map__container h2 {
    padding: 0 30%;
    font-size: 36px;
    color: var(--primary-color);
    font-family: var(--serif-font);
    text-align: center;
}
