.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    height: 120px;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.container h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.container p {
    font-size: 12px;
    line-height: 16px;
}
.external__links {
    width: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.external__links a {
    cursor: pointer;
}

.external__links a:hover {
    color: var(--secondary-color)
}

@media screen and (max-width: 400px) {
    .container span {
        display: none;
    }
}
