.card {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card h3 {
    margin-top: 30px;
    font-size: 24px;
    font-family: var(--serif-font);
    font-style: italic;
    color: var(--secondary-color)
}

.card h4 {
    font-size: 12px;
    font-family: var(--paragraph-font);
    margin-bottom: 20px;
}


.card p {
    padding: 20px 10px;
    text-align: justify;
    font-family: var(--paragraph-font);
    font-size: 12px;
    width: 400px;

}

@media screen and (max-width: 1400px) {
   .card p {
       width: 270px;
   }
}

@media screen and (max-width: 1000px) {
   .card p {
       width: 400px;
   }
}

@media screen and (max-width: 450px) {
   .card p {
       width: 250px;
   }
}
